*{
	box-sizing: border-box;
}
a{
	text-decoration: none;	
}
ul{margin:0;padding: 0;}
ul li{
	list-style: none;
}
body{
	padding: 0;
	margin: 0;
	font-family: nono;
	font-size: 20px;
}
@font-face{
	font-family: nono;
	src:url('../fonts/Roboto-Black.ttf');
}
.menu-top{
	position: relative;
	background: black;
	width: 100%;
	display: flex;
	flex-direction: column;
}
.menu-top-left, .menu-top-right{
	height: 50px;
	margin-top: 10px;
	text-align: center;
	display: flex;
	justify-content: space-around;
}
.menu-top-left div, .menu-top-right div{
	width: 85px;
}
.menu-top-left a, .menu-top-right a{

	color: white;
}
.sub_money{
	display: none;
	position: absolute;
}
.money{
	position: relative;
}
.language:hover + .sub_language, .money:hover + .sub_money{
	display: block;
}
.sub_language, .sub_money{
	display: none;
	position: absolute;
}
.sub_language li, .sub_money li{
	background: red;
	width: 105px;
	height: 25px;
}
.language{
	position: relative;
}
.banner{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.input-search{
	border: 1px solid #9E9E9E;
	padding: 5px 20px;
}
.button-search {
	background: red;
	color: white;
	border: none;
	padding: 5px 15px;
}
.banner-text{
	display: flex;
	flex-direction: row;
}
.banner-text p{
	padding: 10px;
}
.sub-nav-left , .sub-nav-right{
	display: none;
}
.header-nav-left, .header-nav-right{
	height: 25px;
	padding: 5px 20px;
}
.nav-left{
	
}
.nav-left a, .nav-right a{
	color: white;
}
.header-nav-right:active ~ .sub-nav-right{
	display: block;
}
.header-nav-left:active ~ .sub-nav-left{
	display: block;
}
.sub-nav-left{
	background: black;
}
.nav{
	background: red;
}
.sub-nav-right{
	background: black;
}
.nav{
	position: relative;
	height: 35px;
	width: 100%;
	background: red;
	display: flex;
}
.sub-nav-left li .sub-nav-right li{
	border-top:1px solid white;
}
.shop-content, .promotions-content, .page-content, .output-content{
	display: none;
}
.shop:active + .shop-content, .promotions:active + .promotions-content, .page:active + .page-content, .output:active + .output-content{
	display: block;
}
.content img{
	width: 100%;
}
.content-cr{
	padding: 10px;
}
.content-cr{
	width: 100%;
	display: flex;
	flex-direction: row;
}
.content-let-img{
	width: 100%;
}
.content-left{
	border: 3px solid red;
	width: 100%;
	height: 625px;
	border-radius: 10px;
	padding-bottom: 20px;
}
.content-left img{
	width: 60%;
	display: block;
    margin: auto;
}
.three-banner{
	display: none;
}
.content-left-note{
	display: flex;
	flex-direction: column;
	text-align: center;
}
#button-left{
	background: red;
	width: 50%;
	padding: 15px 20px;
	border-radius: 5px;
	margin-bottom: 15px;
	color: white;
	margin: auto;
}
.content-right{
	display: none;
}
.bottom-search{
	background: red;
	width: 100%;
	height: 60px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
}
.bottom-search input{
	border-radius: 10px 0 0 10px;
	padding: 5px;
}
.bottom-search button{
	border-radius: 0 10px 10px 0;
	background: black;
	color: white;
	padding: 5px;
}
.p-bottom{
	display: none;
	color: white;
}
.bottom-img{
	display: flex;
	justify-content: center;
}
.content-bottom{
	display: flex;
	flex-direction: row;
	width: 100%;
}
.content-bottom-right{
	width: 50%;
}
.img-bottom img{
	width: 50%;
}
.img-bottom{
	display: flex;
	flex-direction: row;
}
.category-list{
	    display: flex;
    color: black;
    padding: 0 10px;
    flex-direction: column;
    background: whitesmoke;
}
.first-list-right a{
	color: black;
}
.product-list{
	background: whitesmoke;
	display: flex;
	 flex-direction: column;
}
.first-list-right{
	    display: flex;
    justify-content: space-around;
}
.product-item-top{
	width: 100%;
	background: white;
	display: flex;
	font-size: 14px;
	border: 10px solid whitesmoke;
}
.product-text{
	margin-bottom: 15px;
}
.product-item-top img{
	width: 35%;
	height: 140px;
}
.button-item{
	background: red;
    width: 70%;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    margin: auto;
}
.product-item-bottom{
	display: none;
}
.product-left{
	display: none;
}
#banner-content{
	display: none;
}
#countdown{
	font-size: 40px;
	border-top:1px solid black;
	display: flex;
	justify-content: center;
	padding-top: 25px;
}
#backTopButton{
	background: #cc0d14;
	width: 60px;
    height: 70px;
    position: fixed;
    z-index: 9;
    bottom: 15px;
    right: 15px;
    display: none;
    color:white;
    font-size: 20px;
}

@media (min-width: 768px){
	.menu-top{
		flex-direction: row;
		justify-content: space-between;
	}
	.menu-top-left div, .menu-top-right div{
		padding: 0 15px;
		width: unset;
	} 
	.banner{
		flex-direction: row;
		justify-content: space-between;
		padding: 10px 15px;
	}
	#button-left{
		width: 60%;
		padding: 10px 0px;
		color: white;
	}
	.button-right{
		width: 50%;
		background: red;
		padding: 5px 0px;
		color: white;
	}
	.content-left{
		width: 35%;
		height: 640px;
	}
	.content-left img{
		width: 200px;

	}
	.content-right{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		text-align: center;
		width: 60%;
		font-size: 10px;
	}
	.content-right-one{
		width: 50%;
		padding-left: 10px;
		border: 1px solid whitesmoke;
	}
	.content-right-one img{
		width: 40%;
		height: 120px;
		padding-top: 20px;
	}
	.content-left-note{
		font-size: 25px;
	}
	.content-right-one2{
		display: none;
	}
	.p-bottom{
		display:block; 
		font-size: 25px;
	}
	.styles-input{
		padding-bottom: 25px;
	}
	.bottom-search{
		height: 120px;
		display: flex;
		flex-direction: column;
	}
	.bottom-search input,.bottom-search button{
		font-size: 25px;
	}
	.bottom-img{
		width: 30%;
		width: 50px;
	}
	.bottom-text{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.bottom-text1{
		width: 30%;
	}
	.first-list{
		display: flex;
		justify-content: space-around;
	}
	.product-list{
		    flex-wrap: wrap;
    flex-direction: row;
	}
	.first-list-right a, ul{
		margin: auto;
	}
	.first-list-right, .first-list-left{
		width: 50%;
	}
	.product-item-top{
		width: 50%;
		float: left;
	}
	.product-item-bottom{
		display: block;
		width: 50%;
		background: white;
		display: flex;
		font-size: 14px;
		border: 10px solid whitesmoke;
		float: left;
	}
	.product-item-bottom img{
		width: 35%;
	height: 140px;
	}
	.category-list {
    display: flex;
    flex-direction: row;
}
#countdown{
font-size: 30px;
}
}
@media (min-width: 1200px){
	.nav{
		position: relative;
		display: flex;
		background: white;
		flex-direction: row;
		width: 100%;
		height: 70px;
		z-index: 999;
	}
	.sub-nav-left {
		background: whitesmoke;
		display: block;
		position: absolute;
		top: 70px
	}
	.nav-right div a{
		display: none;
	}
	.sub-nav-right{
		display: block;
		background: white;
	}
	.nav-left{
		width: 25%;
		background: red;
	}
	.sub-nav-left{
		width: 25%;
	}
	.nav-right{
		width: 60%;
		height: 70px;
	}
	.sub-nav-right{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	.sub-nav-left a{
		color: black;
	}
	.sub-nav-left li a{
		line-height: 40px;
		padding-left: 50px;
	}
	.nav-right a{
		color: black;
	}
	.shop-content, .promotions-content, .page-content, .output-content{
		display: none;
	}
	.shop:hover + .shop-content, .promotions:hover + .promotions-content, .page:hover + .page-content, .output:hover + .output-content{
		display: block;
	}
	.
	.slide img{
		width: 300px;
	}
	#banner-content{
		display: block;
	}
	#banner-content{
		 width: 75%;
   		 height: 350px;
   		 float: right
	}
	#before, #after{
		width: 50px;
    	height: 50px;
    	font-size: 30px;
	}
	.button-banner{
		position: relative;
	}
	#before{
		position: absolute;
		top: 130px;
	}
	#after{
		position: absolute;
		top: 130px;
		right: 0;
	}
	.three-banner{
	display: block;
    }
    .three-banner img{
    	width: 33%;
    }
	.content-right-one{
		width: 33%;
	}
	.content-right-one2{
		display: block;
		width: 33%;
		padding: 10px;
  		border: 2px solid whitesmoke;
	}
	.content-right-one2 img{
		width: 40%;
		height: 120px;
		padding-top: 20px;
		padding-left: 10px;
	}
	.input-search, .button-search{
		font-size: 25px;
	}
	.product-left{
		display: block;
		width: 30%;
		height: 500px;
	}
	.product-left img{
		width: 75%;
	}
	.product-item-top{
		width: 50%;
		float: left;
		height: 200px;
	}
	.product-right{
		width: 70%;
	}
	.product-item-bottom{
		display: block;
		width: 50%;
		height: 200px;
		background: white;
		display: flex;
		font-size: 14px;
		border: 10px solid whitesmoke;
		float: left;
	}
	#countdown{
		font-size: 50px;
	}
	.stop{
		position: fixed;
		top: 0;
	}
}
